html {
	padding-top: 0px;
}

.ed-choice-sec {
	position: relative;
	height: 100vh;
	width: 100%;
	padding: 0;
}
.ed-choice-sec .img-container {
	height: 100%;
	width: 100%;
	filter: blur(4px); grayscale(30%);
	z-index: 1;
	background-image: url('../img/recipes/rabdi-big.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

}
.ed-choice-sec .desc-box {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 50%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	z-index: 2;
	box-shadow: 0 2px 10px black;
	padding: 1rem 0.5rem;
}
.ed-choice-sec .desc-box .heading-section {
	position: relative;
	flex: 2;
}
.heading-content-wrapper {
	display: inline-block;
}
.ed-choice-sec h1 {
	display: inline-block;
	margin: 0;
	text-align: center;
	font-family: 'Fascinate Inline',serif;
	font-weight: bold;
	font-size: 6rem;
}
.ed-choice-sec h5 {
	display: block;
	position: relative;
	text-align: right;
	margin: 0;
	color: #3592FB;
	font-weight: lighter;
}
.ed-choice-sec .desc-section {
	flex: 1;
	font-size: 100%;
	margin: 0;
}
.ed-choice-sec .btn-section {
	flex: 1;
}
